# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\liamw\Desktop\CSCORE2C\COURSEWORK ASSESMENT\Python-Game-Gold-Mine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
